.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 90px;
    font-weight: bold;
    line-height: 110px;
    height: 110px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 110px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: grid;
    justify-content: center;
    flex-direction: row;
    padding-top: 80px;
}

.game-info {
    margin-left: 30px;
}