.home {
    width: auto;
    display: block;
}

.AppTicTacToe {
    /* text-align: center; */
    margin-top: "10px";
    height: 100vh;
    margin: auto;
    width: 70%;
    justify-content: center;
}

.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.Svg-logo {
    height: 5vmin;
    padding: 5px;
}

.Svg-logo:hover {
    filter: invert(90%) sepia(6%) saturate(2000%) hue-rotate(320deg) brightness(90%) contrast(90%);
    color: #ec2d2d;
}

.Svg-alt-logo {
    height: 5vmin;
    padding: 5px;
}

.Svg-alt-logo:hover {
    filter: invert(90%) sepia(56%) saturate(4200%) hue-rotate(320deg) brightness(90%) contrast(90%);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
    .Svg-logo {
        animation: Svg-logo-spin infinite 20s linear;
    }
    .Svg-alt-logo {
        animation: Svg-alt-logo-spin infinite 1s linear;
    }
}

.App-header {
    background-color: #283234;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes Svg-logo-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes Svg-alt-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Shake Effect*/

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.bodySettings {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerSettings {
    margin: auto;
    height: 100vh;
    width: 80%;
    justify-content: center;
}

.col__3 {
    display: grid;
    grid-template-columns: 30% 60% 10%;
}


/* ========================= 1st Method ==============*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
    /* color: #d8dad9; */
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.iconGlow {
    /* width: 150px; */
    height: 30px;
    /* background-color: #fff; */
    box-shadow: 0px 0px 5px 5px rgb(153, 0, 255);
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}