.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.Svg-logo {
    height: 5vmin;
    pointer-events: none;
}

.Svg-logo:hover {
    /* filter: invert(90%) sepia(56%) saturate(4200%) hue-rotate(320deg) brightness(90%) contrast(90%); */
}

.Svg-alt-logo {
    height: 5vmin;
    pointer-events: none;
}

.Svg-alt-logo:hover {
    /* filter: invert(90%) sepia(56%) saturate(4200%) hue-rotate(320deg) brightness(90%) contrast(90%); */
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
    .Svg-logo {
        animation: Svg-logo-spin infinite 20s linear;
    }
    .Svg-alt-logo {
        animation: Svg-alt-logo-spin infinite 1s linear;
    }
}

.App-header {
    background-color: #283234;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes Svg-logo-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes Svg-alt-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* 
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
} */