.container {
    height: 100vh;
    margin: auto;
    width: 70%;
    justify-content: center;
}

.col2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.col2_Alt {
    display: grid;
    grid-template-columns: 75% 25%;
}

.col4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.col4_Alt {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
}

.col3 {
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

.LLDisplay {
    width: 100%;
    height: 75vh;
    overflow-y: auto;
}